[submodule "rvm"]
	path = rvm
	url = https://github.com/wayneeseguin/rvm.git
[submodule "packages"]
	path = packages
	url = git@github.com:zendesk/packages
[submodule "distfiles"]
	path = distfiles
	url = git@github.com:zendesk/distfiles
[submodule "ubuntu"]
	path = ubuntu
	url = git@github.com:zendesk/command_line_automated_linux_image_builder
